@charset "UTF-8";
/* Global */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  color: #000000;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding-top: 96px;
}

.section-title {
  font-size: 48px;
  margin: 0 0 72px 0;
  font-family: "Inconsolata", monospace;
  text-transform: lowercase;
}

.element-title {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 12px 0;
}

.btn {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 0;
  padding: 16px;
  border-radius: 5px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  background-position: 100% 0;
  background-size: 300%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-one {
  color: #fff;
  border-color: #fff;
  background-color: #ff6b6b;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);
}

.btn-one:hover {
  background-position: 0 100%;
  color: #ff6b6b;
}

.btn-two {
  color: #f7d428;
  border-color: #f7d428;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #f7d428), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #f7d428 50%, transparent 50%);
}

.btn-two:hover {
  background-position: 0 100%;
  color: #fff;
}

.btn-three {
  color: #4ecdc4;
  border-color: #4ecdc4;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #4ecdc4), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #4ecdc4 50%, transparent 50%);
}

.btn-three:hover {
  background-position: 0 100%;
  color: #fff;
}

.btn-four {
  color: #a0c242;
  border-color: #a0c242;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #a0c242), color-stop(50%, transparent));
  background-image: linear-gradient(90deg, #a0c242 50%, transparent 50%);
}

.btn-four:hover {
  background-position: 0 100%;
  color: #fff;
}

.btn-five {
  color: #ff6b6b;
  border: none;
  margin: 36px 0;
  padding: 0;
  text-align: left;
}

.btn-five:hover {
  color: #000000;
}

/* Navigation */
/* dodałem  nazwy klas, dla mnie jest bardziej czytelne */
.navigation {
  padding: 12px 0;
  background-color: #ff6b6b;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation a {
  text-decoration: none;
}

.first-lv {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.first-lv li {
  display: inline-block;
  margin: 36px;
  position: relative;
}

.first-lv li:hover .second-lv {
  display: block;
}

.first-lv a {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #fff;
}

.first-lv a:hover {
  color: #000000;
  font-weight: bold;
}

.second-lv {
  display: none;
  position: absolute;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0;
  text-align: center;
}

.second-lv li {
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.second-lv a {
  color: #ff6b6b;
}

.second-lv a:hover {
  color: #000000;
}

/* Splash */
.splash {
  background-color: #ff6b6b;
  min-height: 500px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.splash .splash-inner {
  margin: auto;
  max-width: 70%;
}

.page-title {
  margin: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.2;
  word-spacing: -16px;
  font-family: "Signika", sans-serif;
  font-family: "Inconsolata", monospace;
}

.page-title span {
  text-decoration: underline;
  font-family: "Signika", sans-serif;
}

.page-subtitle {
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0;
}

/* Our Services */
.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  position: relative;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service .background-number {
  font-size: 144px;
  position: absolute;
  margin: 0;
  padding: 0;
  line-height: 1;
  top: 0px;
  left: 8px;
  opacity: 0.2;
  color: #ff6b6b;
  font-family: "Signika", sans-serif;
}

.service p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.service p:first-of-type {
  font-weight: 700;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.service .btn {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

/* Our Work */
.works .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 96px;
  min-height: 300px;
  padding: 10px;
}

.work-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 250px;
  height: 100%;
  position: relative;
}

.work-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-image .overlay {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
  height: 100%;
  background-color: #ff6b6b;
  opacity: 0.4;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.work-image:hover .overlay {
  top: 0px;
  left: 0px;
  opacity: 0;
}

.work-description {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 35px 40px 30px 35px;
}

.work-description p {
  margin: 0;
}

.work-description p:last-of-type {
  font-weight: bold;
}

/* Contact */
.contact {
  background-color: #ff6b6b;
  color: #fff;
  padding-bottom: 96px;
}

.contact .section-title {
  color: #fff;
}

.contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-group {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 0px;
          flex: 2 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-group input,
.form-group textarea,
.form-group input:focus,
.form-group textarea:focus {
  background-color: #ff6b6b;
  font-family: "Inconsolata", monospace;
  border: 0px;
  border-bottom: 3px;
  border-style: solid;
  border-color: #fff;
  padding: 12px;
  margin-bottom: 10px;
  outline: none;
}

.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder,
.form-group input:focus::-webkit-input-placeholder,
.form-group textarea:focus::-webkit-input-placeholder {
  color: #fff;
}

.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder,
.form-group input:focus:-ms-input-placeholder,
.form-group textarea:focus:-ms-input-placeholder {
  color: #fff;
}

.form-group input::-ms-input-placeholder,
.form-group textarea::-ms-input-placeholder,
.form-group input:focus::-ms-input-placeholder,
.form-group textarea:focus::-ms-input-placeholder {
  color: #fff;
}

.form-group input::placeholder,
.form-group textarea::placeholder,
.form-group input:focus::placeholder,
.form-group textarea:focus::placeholder {
  color: #fff;
}

.contact-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  margin-left: 96px;
}

.contact-info p {
  margin: 0;
}

.contact-info .contact-title {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.contact-info .contact-title:first-of-type {
  margin-top: 0;
}

/* Footer */
footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 48px 0;
}

footer .container ul {
  list-style-type: none;
  font-size: 0;
  padding: 0px;
}

.icon {
  height: 60px;
  width: 60px;
  background-color: #ff6b6b;
  border-radius: 50%;
  margin: 0 20px;
  text-align: center;
}

.icon i {
  line-height: 60px;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 767px) {
  section {
    padding-top: 26px;
  }
  .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navigation {
    font-size: 15px;
  }
  .first-lv li {
    margin: 10px;
  }
  .page-title {
    font-size: 45px;
  }
  .section-title {
    font-size: 40px;
    margin-bottom: 34px;
  }
  .service {
    margin-bottom: 30px;
  }
  .service .background-number {
    font-size: 200px;
    position: absolute;
    top: -22px;
    left: 11px;
    opacity: 0.2;
  }
  .works .work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 10px;
  }
  .works .work .work-image {
    max-width: 100%;
    max-height: 200px;
  }
  .works .work .work-image img {
    height: 200px;
  }
  .works .work .work-description {
    padding-left: 0px;
    padding-right: 0px;
  }
  .contact .form-group {
    margin-bottom: 96px;
  }
  .contact .form-group input,
  .contact .form-group textarea {
    font-size: 16px;
  }
  .contact .contact-info {
    margin-left: 0px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .works .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .works .wrapper .work {
    margin-bottom: 20px;
  }
  .works .wrapper .work .work-image {
    height: 250px;
  }
  .works .wrapper .work .work-image img {
    height: 250px;
  }
  .works .wrapper .work .work-description {
    padding: 10px 20px 0px 50px;
  }
}
/*# sourceMappingURL=02_3.css.map */